- 
  function concatStr(path,arr){
    return arr.reduce((accum,item, index)=>{
    if(index > 0){
    accum+=`, ${path+item}`
    return accum;
    }
    accum+=`${path+item}`
    return accum;
    },'')
  }

mixin imageGenerate(images)
  picture(class= pictureClass? pictureClass: false)
    each image, index in images
      if index + 1 === images.length
        img.slide__pic(src= `${basePath+image.src}` 
        srcset= image.srcset?`${basePath+image.srcset}`:false
        width= image.width
        height= image.height
        alt= image.alt)            
      else
        source(media=`(min-width: ${image.device}px)`
        srcset=`${concatStr(basePath,image.srcset)}`)

