include ../../mixins/imgGen
include ./price-data

-
    function statusIdentifier(some){
        const template = '.item-status'; 
        if(typeof some === 'string'){
            return `${template} ${template}--${some}`
        }
        let resultStr = template;
        if(Array.isArray(some)){
            return some.reduce((accum, item)=>{
                return `${accum} ${template}--${item}`
            }, resultStr)
        }
    }

mixin getParametrs(data)
    dl.parametrs__wrapper
        each item, index in data
            if index === 0
                .parametr(data-about= 'hide')
                    dt.parametr__name= item.name
                    dd.parametr__value= item.value
            else
                .parametr
                    dt.parametr__name= item.name
                    dd.parametr__value= item.value
mixin getToggles()
    .parametrs__toggle-wrapper
        a.parametrs__toggle.btn.btn--more.btn--js-collapse.btn--hide(href= '' aria-label='сметреть подробности').
            <svg class="btn__icon" width="17" height="17" aria-hidden="true">
            <use xlink:href="./img/icons/sprite.svg#more-icon"></use>
            </svg>
            #[span.btn__text.btn__text--hide(data-about='more') Подробнее]
            #[span.btn__text(data-about='collapse') Свернуть #[span.visually-hidden подробности]]
        a.parametrs__toggle.btn.btn--buy(href= '#contacts' aria-label='Совершить заказ').
            <svg class="btn__icon" width="20" height="20" aria-hidden="true">
            <use xlink:href="./img/icons/sprite.svg#cart-icon"></use>
            </svg>
            #[span.btn__text Заказать]
mixin getHeading(data)
    h3.parametrs__heading.
        #[span.visually-hidden= data.subHeading]
        &laquo;#{data.heading}&raquo;
mixin getPriceItem(data)
    li.price__list-item.parametrs(data-about='')
        .parametrs__heading-wrapper
            +getHeading(data)
            p.parametrs__price до #{data.cost} &nbsp;&#8381;
        .parametrs__pic-wrapper(class= data.status? statusIdentifier(data.status): false)
            +imageGenerate(data.images)
            button.parametrs__pic-btn.slide-pic.slide-pic--hide(type='button' aria-label='Предыдущая фотогорафия') &lt;
            button.parametrs__pic-btn.parametrs__pic-btn--right.slide-pic.slide-pic--hide(type='button' aria-label='Следующая фотогорафия') &gt;
        +getParametrs(data.parametrs)
        +getToggles
//- 
    mixins end
section.micflag__price.price
    +sectionTitle('price', 'Прайс')
    ul.price__list
        each price in prices
            +getPriceItem(price)
